<!-- report_app/templates/daily-report-detail.html -->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Daily Report Detail
{% endblock %}


{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="primary" text_color="light" table_heading="Daily Report" table_sub_heading=entry_date %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!--REPORT DOES EXIST-->
  {% if daily_report_detail %}

    <br>
    <div class="table-responsive"> 

      <table class="table table-striped table-muted table-bordered">

        <!-- TABLE COLUMN HEADING -->
        <thead>
          <tr style="border-bottom: 2px black solid;">
            <th class="" style="vertical-align: middle;">S.NO</th>
            <th class="" style="padding-left:60px; padding-right:60px; vertical-align: middle;">Item</th>
            <th class="">Old Stock</th>
            <th class="">Arrival Stock</th>
            <th class="">Total Stock</th>
            <th class="">Balance Stock</th>
            <th class="">Sold Stock</th>
          </tr>
        </thead>

        <tbody>

          {% for report in daily_report_detail %}
            <tr>
              <th class="">{{forloop.counter}}.)</th>
              <th class="">{{report.items.name}}</th>
              <td class="">{{report.old_stock}}</td>
              <th class="">{{report.arrival_stock}}</th>
              <td class="">{{report.total_stock}}</td>
              <td class="">{{report.balance_stock}}</td>
              <th class=" text-warning">{{report.sold_stock}}</th>
            </tr>
          {% endfor %}

        </tbody>

      </table>
    </div>

    <!-- TOTAL QUANTITY SUPPLIED & IMPORTED-->
    <hr>
    <div class="row">
      <div class="col bg-success text-white">
        <b><i>Total Imported - {{total_imported_quantity}} {% if total_imported_quantity > 1 %} Boxes {% else %} Box {% endif %}</i></b>
      </div>
      <div class="col bg-danger text-white">
        <b><i>Total Supplied - {{total_supplied_quantity}} {% if total_supplied_quantity > 1 %} Boxes {% else %} Box {% endif %}</i></b>
      </div>
    </div>
    <br>
    <br>
    <br>

  <!--REPORT DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Report Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

{% endblock %}

