<!-- supply_app/templates/supply-stock-detail.html -- -->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Supply Stock Detail
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="danger" text_color="white" table_heading="Supply Stock Entries" table_sub_heading=entry_date %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!----------SUCCESS MESSAGE ( ON SUPPLIED STOCK )------------>
  {% if messages %}
    <ul class="messages text-center">
      {% for message in messages %}
        {% if message.tags %}
          <li class="list-group-item list-group-item-{{message.tags}}"><b>{{message}}</b></li>
        {% else %}
          <li class="list-group-item list-group-item-primary"><b>{{message}}</b></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}


  <!--SUPPLY RECORDS EXIST-->
  {% if supply_stock_detail %}
      
    <br>
    <div class="table-responsive"> 

      <table class="table table-striped table-borderless">

        <!-- TABLE COLUMN HEADING -->
        <tr class="bg-dark text-white">
          <th class="text-center text-secondary">S.NO</th>
          <th class="text-center text-secondary">Item Name</th>
          <th class="text-center text-secondary">Supply Quantity</th>
        </tr>

        <!-- SHOW ALL SUPPLIED STOCK AS PER DATE -->
        {% for supply_stock in supply_stock_detail %}
          <tr>
            <td class="text-center">{{forloop.counter}}.</td>
            <td class="text-center">
              <a href="{% url 'supply_update' supply_stock.id %}#focus" class="link-danger link-underline-opacity-0 link-underline-opacity-100-hover">
                <b>{{supply_stock.items.name}}</b>
              </a>
            </td>
            <td class="text-center">{{supply_stock.quantity}}
              <i><small> {% if supply_stock.quantity > 1 %} boxes {% else %} box {% endif %} </small></i>
            </td>
          </tr>  
        {% endfor %}

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark py-2" colspan="4">
      <b><mark>Total Supply Quantity - {{total_supply_quantity}} {% if total_supply_quantity > 1 %} Boxes {% else %} Box {% endif %}</mark></b>
    </p>

  <!--SUPPLY RECORDS DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Supply Entries Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <br>
  <a class="btn btn-primary" href="{% url 'supply_list' %}#focus">&nbsp; Back &nbsp;</a>

{% endblock %}


