<!-- supply_app/templates/supply-stock-update.html -- -->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Supply Stock Update
{% endblock %}


{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="warning" table_heading="Update Supplied Stock" table_sub_heading=supply_stock_update.entry_date %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!----------SUCCESS MESSAGE ( ON FORM SUBMISSION )------------>
  {% if messages %}
    <ul class="messages text-center">
      {% for message in messages %}
        {% if message.tags %}
          <li class="list-group-item list-group-item-{{message.tags}}"><b>{{message}}</b></li>
        {% else %}
          <li class="list-group-item list-group-item-primary"><b>{{message}}</b></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <!--SUPPLY RECORDS EXIST-->
  {% if supply_stock_update %}

    <div class="container bg-light">
      <hr>
      <br>

      <!------------ITEM SUPPLY UPDATE FORM------------->
      <form method="post">
        {% csrf_token %}

        <!--FORM FIELDS NAME - ITEM-SELECTION, ITEM-QUANTITY-->
        {% include 'utils/item-form.html' %}

        <!-- FORM SUBMIT BUTTONS -->
        <br>
        <br>

        <!-- UPDATE SUPPLY ENTRY SUBMIT BUTTON -->
        <button type="submit" class="btn btn-dark text-warning btn-md">
          <b>Update Entry</b>
        </button>

        &nbsp; &nbsp; &nbsp;

        <!-- BACK BUTTON TO SUPPLY ENTRY LIST -->
        <a class="btn btn-primary btn-md" href="{% url 'supply_detail' supply_stock_update.entry_date %}#focus">
          <b>Back To Entries</b>
        </a>

      </form>
      
      <hr>
      <br>
      <br>
      <!-- DELETE SUPPLY ENTRY SUBMIT BUTTON -->
      <form method="post" action="{% url 'supply_delete' pk=supply_stock_update.id %}#focus">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-md w-50">
          <b>Delete This Entry</b>
        </button>
      </form>
    </div>

  <!--SUPPLY RECORDS DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Supply Entry Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}


{% endblock %}
