<!-- supply_app/templates/supply-stock-list.html -- -->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Supply Stock List
{% endblock %}


{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="danger" text_color="white" table_heading="Supply Stock Dates" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!--SUPPLY RECORDS EXIST-->
  {% if supply_stock_list %}

    <!-----INCLUDE TABLE-ENTRY-DATE TEMPLATE------->
    {% with link_color="danger" url_name='supply_detail' entry_dates=supply_stock_list %}
      {% include 'utils/table-entry-dates.html' %}
    {% endwith %}

  <!--SUPPLY RECORDS DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Supply Entries Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <br>
  <a class="btn btn-danger" href="{% url 'supply_create' %}#focus">Supply Stock</a>
{% endblock %}



