<!-- import_app/templates/import-stock-detail.html -- -->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Import Stock Detail
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="success" text_color="muted" table_heading="Import Stock Entries" table_sub_heading=entry_date %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!----------SUCCESS MESSAGE ( ON FORM SUBMISSION )------------>
  {% if messages %}
    <ul class="messages text-center">
      {% for message in messages %}
        {% if message.tags %}
          <li class="list-group-item list-group-item-{{message.tags}}"><b>{{message}}</b></li>
        {% else %}
          <li class="list-group-item list-group-item-primary"><b>{{message}}</b></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <!--IMPORT RECORDS EXIST-->
  {% if import_stock_detail %}

      
    <br>
    <div class="table-responsive"> 

      <table class="table table-striped table-borderless">

        <!-- TABLE COLUMN HEADING -->
        <tr class="bg-dark text-white">
          <th class="text-center text-secondary">S.NO</th>
          <th class="text-center text-secondary">Item Name</th>
          <th class="text-center text-secondary">Import Quantity</th>
        </tr>

        <!-- SHOW ALL IMPORTED STOCK AS PER DATE -->
        {% for import_stock in import_stock_detail %}
          <tr>
            <td class="text-center">{{forloop.counter}}.</td>
            <td class="text-center">
              <a href="{% url 'import_update' import_stock.id %}" class="link-success link-underline-opacity-0 link-underline-opacity-100-hover">
                <b>{{import_stock.items.name}}</b>
              </a>
            </td>
            <td class="text-center">{{import_stock.import_quantity}}
              <i><small> {% if import_stock.import_quantity > 1 %} boxes {% else %} box {% endif %} </small></i>
            </td>
          </tr>  
        {% endfor %}

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark py-2" colspan="4"><b><mark>Total Import Quantity - {{total_import_quantity}} Boxes</mark></b></p>

  <!--IMPORT RECORDS DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Import Entries Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <br>
  <a class="btn btn-primary" href="{% url 'import_list' %}">&nbsp; Back &nbsp;</a>
  <a class="btn btn-success" href="{% url 'import_create' %}">Add Stock</a>
{% endblock %}


