<!-- templates/utils/item-not-found.html -->

<!--
  ITEM FORM TEMPLATE FOR INCLUDE
  USED IN CREATE-VIEW, UPDATE-VIEW
  DRY PRINCIPLES
  -->

<!----------FORM FIELDS------------>
<main class="form-signin">

  <!----------IMPORT ITEM (1/1)------------>

  <!-- IMPORT ITEM SELECT WIDGET -->
  <select id="{{form.items.id_for_label}}" 
          name="{{form.items.html_name}}" 
          class="form-select form-select-lg {% if form.items.errors %} is-invalid {% endif %}" 
          {% if form.fields.items.widget.attrs.disabled %} disabled{% endif %}
          {% if form.fields.items.widget.attrs.readonly %} readonly{% endif %}
          {% if form.fields.items.required %} required {% endif %}>

    {% for choice in form.items.field.choices %}
      <option value="{{choice.0}}" {% if choice.1 == form.initial.items%} selected{% endif %}>{{choice.1}}</option>
    {% endfor %}

  </select>

  <!-- IMPORT ITEM HELP TEXT -->
  <small class="text-muted"><i>({{form.items.help_text}})</i></small>

  <!-- IMPORT ITEM ERRORS MSG -->
  {% for error in form.items.errors %}
    <div class="invalid-feedback">
      <b>{{error}}</b>
    </div>
  {% endfor %}
  <br>
  <br>
  
  <!----------IMPORT QUANTITY (1/2)------------>
  <div class="form-floating">

    <!-- IMPORT QUANTITY INPUT -->
    <input type="number"
           id="{{form.quantity.id_for_label}}"
           name="{{form.quantity.html_name}}"
           placeholder="10"
           class="form-control{% if form.quantity.errors %} is-invalid {%endif%}"
           value="{{form.quantity.value}}"
           {% if form.fields.quantity.required %} required {% endif %}>

    <!-- IMPORT QUANTITY LABEL -->
    <label for="{{form.quantity.id_for_label}} text-muted"><i>{{form.quantity.label}}</i></label>

    <!-- IMPORT QUANTITY HELP TEXT -->
    <small class="text-muted"><i>({{form.quantity.help_text}})</i></small>
    
    <!-- IMPORT QUANTITY ERRORS MSG -->
    {% for error in form.quantity.errors %}
      <div class="invalid-feedback">
        <b>{{error}}</b>
      </div>
    {% endfor %}
  </div>

</main>

