<!-- templates/utils/table-heading.html-->

<!-- Heading of the table, which represents the table description -->

<!--
  ( ARGUMENTS ACCEPTED BY THIS TEMPLATE )

  bg_color   : Set background color
  text_color : Set foreground color
  table_heading : Purpose of the table provide here
  table_sub_heading : Sub heading of the purpose
  -->

<div class="container bg-{{bg_color}} text-{{text_color}} rounded-5" id="focus">
  <h1><i>{{table_heading}}</i></h1>
  <h6><b class="bg-dark text-white">{{table_sub_heading}}</b></h6>
</div>
<br>
