<!--items/templates/current-stock.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Current Stock List
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="secondary" table_heading="Current Stock Entries" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!--STOCK EXIST-->
  {% if current_stock_list %}
    <br>
    <div class="table-responsive"> 

      <table class="table table-striped">

        <!-- TABLE COLUMN HEADING -->
        <tr class="bg-dark text-white" style="border-bottom : 2px solid black">
          <th class="text-center text-secondary">S.NO</th>
          <th class="text-center text-secondary">Item Name</th>
          <th class="text-center text-secondary">Quantity</th>
          <th class="text-center text-secondary">Last Updated</th>
        </tr>

        <!-- SHOW ALL ITEMS IN CURRENT STOCK LIST-->
        {% for item in current_stock_list %}
          <tr>
            <th class="text-center">{{forloop.counter}}.)</th>
            <td class="text-center"><mark>{{item.name}}</mark></td>
            <td class="text-center">{{item.quantity}}</td>
            <td class="text-center">
              <small><i>
                {% if item.updated_at.date == today.date %}
                  {{item.updated_at|time:"h:i A"}}
                {% elif item.updated_at.date == yesterday.date %}
                  Yesterday
                {% else %}
                  {{item.updated_at|date:"F d, Y"}}
                {% endif %}
              </i></small>
            </td>
          </tr>  
        {% endfor %}

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark py-2">
    <b><mark>Total Quantity - {{total_quantity}} {% if total_quantity > 1 %} Boxes {% else %} Box {% endif %}</mark></b></p>

  <!--STOCK DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT-FOUND-MSG TEMPLATE------->
    {% with not_found_msg="No Stock Left" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

{% endblock %}
