<!--items/templates/current-stock.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Current Stock List
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="secondary" table_heading="Current Stock Entries" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!--STOCK EXIST-->
  {% if current_stock_list %}
    <br>
    <div class="table-responsive"> 

      <table class="table table-striped">

        <!-- TABLE COLUMN HEADING -->
        <tr class="bg-dark text-white">
          <th class="text-center text-secondary">S.NO</th>
          <th class="text-center text-secondary">Item Name</th>
          <th class="text-center text-secondary">Quantity</th>
          <th class="text-center text-secondary">Last Updated</th>
        </tr>

        <!-- SHOW ALL ITEMS IN CURRENT STOCK LIST-->
        {% for item in current_stock_list %}
          <tr>
            <td class="text-center">{{forloop.counter}}.</td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.total_quantity}}</td>
            <td class="text-center"><i>{{item.updated_at}}</i></td>
          </tr>  
        {% endfor %}

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark py-2" colspan="4">
    <b><mark>Total Quantity - {{final_total_quantity}} {% if final_total_quantity > 1 %} Boxes {% else %} Box {% endif %}</mark></b></p>

  <!--STOCK DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT-FOUND-MSG TEMPLATE------->
    {% with not_found_msg="No Stock Left" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <br>
  <a class="btn btn-success" href="{% url 'import_create' %}#focus">Add Stock</a>
{% endblock %}
