<!--items/templates/current-stock.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Current Stock List
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="secondary" table_heading="Current Stock Entries" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!--STOCK EXIST-->
  {% if current_stock_list %}
    <br>
    <div class="table-responsive"> 

      <table class="table table-striped table-bordered">

        <!-- TABLE COLUMN HEADING -->
        <tr class="bg-dark text-white">
          <th class="text-center">S.NO</th>
          <th class="text-center">Item Name</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Last Updated</th>
        </tr>

        <!-- SHOW ALL ITEMS IN CURRENT STOCK -->
        {% for item in current_stock_list %}
          <tr>
            <td class="text-center">{{forloop.counter}}.)</td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.total_quantity}}</td>
            <td class="text-center">{{item.updated_at}}</td>
          </tr>  
        {% endfor %}

        <!--LINE BREAK-->
        <tr>
          <td></td> <td></td> <td></td> <td></td>
        </tr>

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark py-2" colspan="4"><mark>Total Quantity - {{final_total_quantity}} Boxes</mark></p>

  <!--STOCK DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT FOUND MSG TEMPLATE------->
    {% with not_found_msg="No Stock Left" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <br>
  <a class="btn btn-success">Add Stock</a>
{% endblock %}
