<!--items/templates/item-list.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Item List
{% endblock %}

<!-- REMOVING NAVIGATION BUTTONS -->
{% block body_upper %}
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="white" table_heading="Canteen Items List" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <!----------SUCCESS MESSAGE ( ON FORM SUBMISSION )------------>
  {% if messages %}
    <ul class="messages text-center">
      {% for message in messages %}
        {% if message.tags %}
          <li class="list-group-item list-group-item-{{message.tags}}"><b>{{message}}</b></li>
        {% else %}
          <li class="list-group-item list-group-item-primary"><b>{{message}}</b></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <!--CANTEEN ITEMS EXIST-->
  {% if item_list %}
    <br>
    <div class="table-responsive"> 

      <table class="table">

        <!-- TABLE COLUMN HEADING -->
        <tr>
          <th class="text-center">S.No</th>
          <th class="text-center">Item Name</th>
          <th class="text-center">Price</th>
          <th class="text-center text-secondary">Quantity</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>

        <!-- SHOW ALL CANTEEN ITEMS (INCLUDING NON-ACTIVE)-->
        {% for item in item_list %}
          <tr>
            <td class="text-center">{{forloop.counter}}.)</td>
            <td class="text-center {% if not item.is_active %} text-secondary {% endif %}">
              <b><i>{{item.name}}</i></b>
            </td>
            <td class="text-center">{{item.price}} <small>rs</small></td>
            <td class="text-center text-secondary">{{item.quantity}}</td>
            <td class="text-center"><i>{{item.is_active}}</i></td>
            <td class="text-center">
              <a href="{% url 'item_update' item.id %}#focus" class="btn btn-sm btn-primary"> Edit </a>
            </td>
          </tr>  
        {% endfor %}

      </table>
    </div>

    <!-- TOTAL BOXES IN CURRENT STOCK -->
    <br>
    <p class="bg-dark text-white py-1">
      <b>Total Items - {{total_items}} {% if total_items > 1 %} Boxes {% else %} Box {% endif %}</b>
    </p>
    <br><br>

  <!--ITEMS DOES NOT EXIST-->
  {% else %}

    <!-----INCLUDE NOT-FOUND-MSG TEMPLATE------->
    {% with not_found_msg="No Items Found" %}
      {% include 'utils/item-not-found.html' %}
    {% endwith %}

  {% endif %}

  <a class="btn btn-dark" href="{% url 'item_create' %}#focus">Add Items</a>

{% endblock %}
