<!--items/templates/item-create.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Canteen Item Create
{% endblock %}

<!-- REMOVING NAVIGATION BUTTONS -->
{% block body_upper %}
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="warning" text_color="dark" table_heading="Add Your Canteen Items" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <div class="container bg-light">
    <hr>
    <br>
    <!------------ITEM CREATE FORM------------->
    <form method="post">
      {% csrf_token %}

      <!--FORM FIELDS NAME - ITEM-NAME, ITEM-PRICE, ITEM-AVAILABILITY-->
      {% include 'utils/canteen-item-form.html' %}

      <!-- FORM SUBMIT BUTTON -->
      <br>
      <br>
      <button type="submit" class="btn btn-warning text-dark btn-md">
        <b>Add Items</b>
      </button>
      <br>
    </form>
    <hr>
  </div>

{% endblock %}
