<!--items/templates/item-update.html-->

<!-- BASE TEMPLATE -->
{% extends 'base-template.html' %}

<!-- PAGE TITLE -->
{% block title %}
  Canteen Item Update
{% endblock %}

<!-- REMOVING NAVIGATION BUTTONS -->
{% block body_upper %}
{% endblock %}

{% block body_lower %}

  <!-----INCLUDE TABLE-HEADING TEMPLATE------->
  {% with bg_color="dark" text_color="warning" table_heading="Update Your Canteen Item" %}
    {% include 'utils/table-heading.html' %}
  {% endwith %}

  <div class="container bg-light">
    <hr>
    <br>
    <!------------ITEM CREATE FORM------------->
    <form method="post">
      {% csrf_token %}

      <!--FORM FIELDS NAME - ITEM-NAME, ITEM-PRICE, ITEM-AVAILABILITY-->
      {% include 'utils/canteen-item-form.html' %}

      <!-- FORM SUBMIT BUTTON -->
      <br>
      <br>
      <button type="submit" class="btn btn-dark text-success btn-md">
        <b>Update Canteen Item</b>
      </button>
      <br>
    </form>
    <hr>
    <br>

    <!-- DELETE IMPORT ENTRY SUBMIT BUTTON -->
    <form method="post" action="{% url 'item_delete' pk=item_update.id %}#focus">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-md w-50">
        <b>Delete This Item</b>
      </button>
    </form>

  </div>

{% endblock %}
